.padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.layout1_content {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .layout1_content {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .layout1_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .layout1_content {
    grid-template-columns: 1fr;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

.text-style-tagline {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}

.heading-style-h2-3 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .heading-style-h2-3 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h2-3 {
    font-size: 2.25rem;
  }
}

.text-size-medium-3 {
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  .text-size-medium-3 {
    font-size: 1rem;
  }
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

.margin-top.margin-custom1 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-huge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-tiny {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-custom3 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-medium {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-custom2 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-large {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxlarge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xlarge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-0 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.button-group.is-center {
  justify-content: center;
}

.layout1_image-wrapper {
  overflow: hidden;
  border-radius: var(--\<unknown\|relume-variable-radius-large\>);
}

.layout1_image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}