.button {
  padding: 0.75rem 1.5rem;

  border: 1px solid var(--base-color-neutral--black);

  background-color: var(--base-color-neutral--black);

  color: var(--base-color-neutral--white);
  text-align: center;
  text-decoration: none;
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: transparent;

  color: var(--base-color-neutral--black);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-alternate {
  background-color: transparent;
  color: var(--base-color-neutral--white);
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.button.is-icon.is-tertiary {
  border-radius: 20px;
  background-color: hsla(47, 100.00%, 66.89%, 1.00);
  font-family: 'Changa One', Impact, sans-serif;
}

.button.is-secondary {
  background-color: transparent;
  color: var(--base-color-neutral--black);
}

.button.is-secondary.is-alternate {
  background-color: transparent;
  color: var(--base-color-neutral--white);
}

.button.is-secondary.jetboost-list-search-reset-jv98.jetboost-filter-none-j34o {
  transition: background-color 250ms cubic-bezier(.77, 0, .175, 1);
}

.button.is-secondary.jetboost-list-search-reset-jv98.jetboost-filter-none-j34o:hover {
  background-color: var(--base-color-neutral--neutral-lightest);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-small.is-icon-only {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button.is-alternate {
  border-color: var(--base-color-neutral--white);
  background-color: var(--base-color-neutral--white);
  color: var(--base-color-neutral--black);
}

.button.is-tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--base-color-neutral--black);
}

.button.is-icon-only {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.icon-embed-xxsmall-6 {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}